<section class="section">
  <div class="page-width content-width stack">
    {% form 'storefront_password' %}
      <label for="Password-{{ section.id }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
      <input id="Password-{{ section.id }}" type="password" name="password" autocomplete="current-password">
      <button class="button" type="submit">{{ 'general.password_page.login_form_submit' | t }}</button>
      {% if form.errors %}
        <p role="alert">{{ form.errors | default_errors }}</p>
      {% endif %}
    {% endform %}
  </div>
</section>

{% schema %}
{
  "name": "Password",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Password"
    }
  ]
}
{% endschema %}
